<ion-view title="Anatomy of the heart" id="page10">
  <ion-content padding="true" class="has-header">
    <h4 id="anatomyOfTheHeart2-heading1" style="color:#011324;">How Does Blood Travel Through the Heart?</h4>
    <div>
      <img src="img/pHSVVuoCTeusfgauJtND_webmd-medical-reference-collaboration-cleveland-clinic-high-cholesterol-healthy-heart_Circulatory_system.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="anatomyOfTheHeart2-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2B2B2B;">Your heart is an amazing organ. It continuously pumps oxygen and nutrient-rich blood throughout your body to sustain life. This fist-sized powerhouse beats (expands and contracts) 100,000 times per day, pumping five or six quarts of blood each minute,
        or about 2,000 gallons per day.</p>
    </div>
    <div id="anatomyOfTheHeart2-markdown2" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2B2B2B;">
        <strong>How Does Blood Travel Through the Heart?</strong>
      </p>

      <p style="color:#2B2B2B;">As the heart beats, it pumps blood through a system of blood vessels, called the circulatory system. The vessels are elastic tubes that carry blood to every part of the body.</p>

      <p style="color:#2B2B2B;">Blood is essential. In addition to carrying fresh oxygen from the lungs and nutrients to your body's tissues, it also takes the body's waste products, including carbon dioxide, away from the tissues. This is necessary to sustain life and promote
        the health of all the body's tissues.</p>
    </div>
    <a ui-sref="tabsController.bloodVessels()" id="anatomyOfTheHeart2-button2" class="button button-assertive button-block icon-right ion-chevron-right">Types of blood vessels</a>
  </ion-content>
</ion-view>