<ion-view title="Blood vessels" id="page12">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="bloodVessels-card21">
      <ion-item class="assertive" id="bloodVessels-list-item11">Arteries</ion-item>
      <div class=" item item-image">
        <img src="img/atSVVsbUQ2SOAjZ25taF_arterylayers.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="bloodVessels-list-item-container2">
        <div id="bloodVessels-markdown4" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">They begin with the aorta, the large artery leaving the heart. Arteries carry oxygen-rich blood away from the heart to all of the body's tissues. They branch several times, becoming smaller and smaller as they carry blood farther from the heart.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="bloodVessels-card22">
      <ion-item class="assertive" id="bloodVessels-list-item13">Veins</ion-item>
      <div class=" item item-image">
        <img src="img/rOULoiTyTomaHetVds58_1.1.9Onewayveinvalvediagram.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="bloodVessels-list-item-container3">
        <div id="bloodVessels-markdown5" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">These are blood vessels that take blood back to the heart; this blood lacks oxygen (oxygen-poor) and is rich in waste products that are to be excreted or removed from the body. Veins become larger and larger as they get closer to the heart.
            The superior vena cava is the large vein that brings blood from the head and arms to the heart, and the inferior vena cava brings blood from the abdomen and legs into the heart.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="bloodVessels-card23">
      <ion-item class="assertive" id="bloodVessels-list-item14">Capillaries</ion-item>
      <div class=" item item-image">
        <img src="img/euuQ7i1tRkGmDDBdEMbg_images.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="bloodVessels-list-item-container4">
        <div id="bloodVessels-markdown6" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">These are small, thin blood vessels that connect the arteries and the veins. Their thin walls allow oxygen, nutrients, carbon dioxide, and other waste products to pass to and from our organ's cells.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>