<ion-view title="Chapter 4" id="page8">
  <ion-content padding="true" class="has-header">
    <h4 id="chapter4-heading4" style="color:#011324;">What Are the Coronary Arteries?</h4>
    <div>
      <img src="img/7K5xcmB0R1ujHPHuCOTP_main-qimg-630db4e5fda1566446c20f014131e360-c.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="chapter4-markdown28" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2B2B2B;">Like all organs, your heart is made of tissue that requires a supply of oxygen and nutrients. Although its chambers are full of blood, the heart receives no nourishment from this blood. The heart receives its own supply of blood from a network of
        arteries, called the coronary arteries.</p>
    </div>
    <div id="chapter4-markdown29" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2B2B2B;">Two major coronary arteries branch off from the aorta near the point where the aorta and the left ventricle meet:</p>

      <p style="color:#2B2B2B;">
        <strong>Right coronary artery</strong> supplies the right atrium and right ventricle with blood. It usually branches into the posterior descending artery, which supplies the bottom portion of the left ventricle and back of the septum with blood.</p>

      <p style="color:#2B2B2B;">
        <strong>Left main coronary artery</strong> branches into the circumflex artery and the left anterior descending artery. The circumflex artery supplies blood to the left atrium, side, and back of the left ventricle, and the left anterior descending artery
        supplies the front and bottom of the left ventricle and the front of the septum with blood.</p>
    </div>
  </ion-content>
</ion-view>