<ion-view title="Chapter 2" id="page6">
  <ion-content padding="true" class="has-header">
    <h4 id="chapter2-heading2" style="color:#011324;">Where Is Your Heart and What Does It Look Like?</h4>
    <div>
      <img src="img/f6ORnZvCRRicXVXrhxp3_webmd-medical-reference-collaboration-cleveland-clinic-high-cholesterol-healthy-heart_Majorbloodvessels.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="chapter2-markdown7" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2B2B2B;">The heart is located under the rib cage, to the left of your breastbone (sternum) and between your lungs.</p>

      <p style="color:#2B2B2B;">
        <strong>Major blood vessels</strong>
      </p>

      <p style="color:#2B2B2B;">Looking at the outside of the heart, you can see that the heart is made of muscle. The strong muscular walls contract (squeeze), pumping blood to the arteries. The major blood vessels connected to your heart are the aorta, the superior vena cava,
        the inferior vena cava, the pulmonary artery (which takes oxygen-poor blood from the heart to the lungs where it is oxygenated), the pulmonary veins (which bring oxygen-rich blood from the lungs to the heart), and the coronary arteries (which
        supply blood to the heart muscle).</p>

      <p style="color:#2B2B2B;">On the inside, the heart is a four-chambered, hollow organ. It is divided into the left and right side by a wall called the septum. The right and left sides of the heart are further divided into two top chambers called the atria, which receive blood
        from the veins, and two bottom chambers called ventricles, which pump blood into the arteries.</p>

      <p style="color:#2B2B2B;">The atria and ventricles work together, contracting and relaxing to pump blood out of the heart. As blood leaves each chamber of the heart, it passes through a valve.</p>
    </div>
    <a ui-sref="heartValves()" id="chapter2-button3" class="button button-assertive button-block icon-right ion-chevron-right">Heart valves</a>
  </ion-content>
</ion-view>