<ion-view title="Chapter 3" id="page7">
  <ion-content padding="true" class="has-header">
    <h4 id="chapter3-heading3" style="color:#011324;">How Does Blood Flow Through the Heart?</h4>
    <div id="chapter3-markdown9" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2B2B2B;">The right and left sides of the heart work together. The pattern described below is repeated over and over, causing blood to flow continuously to the heart, lungs, and body.</p>
    </div>
    <div id="chapter3-button-bar1" class="button-bar">
      <a ui-sref="leftSide()" id="chapter3-button8" class="button button-assertive button-block">Left Side</a>
      <a ui-sref="rightSide()" id="chapter3-button9" class="button button-positive button-block">Right Side</a>
    </div>
  </ion-content>
</ion-view>