<ion-view title="Heart valves" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="heartValves-list2">
      <ion-item class="item-thumbnail-left" id="heartValves-list-item15">
        <img src="img/jPByzUW7Sy7gVdNLT289_mitral-valve-leaflets.png">
        <h2>Mitral valve</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="heartValves-list-item16">
        <img src="img/9dOvnF0tSoytBw4w6gvw_0817_CIT_CFMeduri_Fig1.png">
        <h2>Tricuspid valve</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="heartValves-list-item17">
        <img src="img/FdTjOlqHQzGRjsGgiAGg_AorticValve.jpg">
        <h2>Aortic valve</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="heartValves-list-item18">
        <img src="img/bS7BRdDSyyJMESETDK3U_HeartStructure_Pulmonaryvalve.jpg">
        <h2>Pulmonary valve</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <div id="heartValves-markdown8" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2B2B2B;">The tricuspid and mitral valves lie between the atria and ventricles. The aortic and pulmonic valves lie between the ventricles and the major blood vessels leaving the heart.</p>

      <p style="color:#2B2B2B;">The heart valves work the same way as one-way valves in the plumbing of your home. They prevent blood from flowing in the wrong direction.</p>

      <p style="color:#2B2B2B;">Each valve has a set of flaps, called leaflets or cusps. The mitral valve has two leaflets; the others have three. The leaflets are attached to and supported by a ring of tough, fibrous tissue called the annulus. The annulus helps to maintain the
        proper shape of the valve.</p>

      <p style="color:#2B2B2B;">The leaflets of the mitral and tricuspid valves are also supported by tough, fibrous strings called chordae tendineae. These are similar to the strings supporting a parachute. They extend from the valve leaflets to small muscles, called papillary
        muscles, which are part of the inside walls of the ventricles.</p>
    </div>
  </ion-content>
</ion-view>