<ion-view title="Left Side" id="page15">
  <ion-content padding="true" class="has-header">
    <ion-list id="leftSide-list5">
      <div class="item item-body" id="leftSide-list-item-container7">
        <div id="leftSide-markdown15" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#011324;">
            <strong>1.</strong> The pulmonary vein empties oxygen-rich blood from the lungs into the left atrium.</p>
        </div>
      </div>
      <div class="item item-body" id="leftSide-list-item-container8">
        <div id="leftSide-markdown16" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#011324;">
            <strong>2.</strong> As the atrium contracts, blood flows from your left atrium into your left ventricle through the open mitral valve.</p>
        </div>
      </div>
      <div class="item item-body" id="leftSide-list-item-container9">
        <div id="leftSide-markdown17" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#011324;">
            <strong>3.</strong> When the ventricle is full, the mitral valve shuts. This prevents blood from flowing backward into the atrium while the ventricle contracts.</p>
        </div>
      </div>
      <div class="item item-body" id="leftSide-list-item-container10">
        <div id="leftSide-markdown18" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#011324;">
            <strong>4.</strong> As the ventricle contracts, blood leaves the heart through the aortic valve, into the aorta and to the body.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>