<ion-view title="Right Side" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="rightSide-list6">
      <div class="item item-body" id="rightSide-list-item-container11">
        <div id="rightSide-markdown20" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#011324;">
            <strong>1. </strong>Blood enters the heart through two large veins, the inferior and superior vena cava, emptying oxygen-poor blood from the body into the right atrium.</p>
        </div>
      </div>
      <div class="item item-body" id="rightSide-list-item-container12">
        <div id="rightSide-markdown24" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#011324;">
            <strong>2. </strong>As the atrium contracts, blood flows from your right atrium into your right ventricle through the open tricuspid valve.</p>
        </div>
      </div>
      <div class="item item-body" id="rightSide-list-item-container13">
        <div id="rightSide-markdown25" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#011324;">
            <strong>3. </strong>When the ventricle is full, the tricuspid valve shuts. This prevents blood from flowing backward into the atria while the ventricle contracts.</p>
        </div>
      </div>
      <div class="item item-body" id="rightSide-list-item-container14">
        <div id="rightSide-markdown26" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#011324;">
            <strong>1. </strong>As the ventricle contracts, blood leaves the heart through the pulmonic valve, into the pulmonary artery and to the lungs where it is oxygenated.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>