<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-only" id="tabsController-tabs1">
    <ion-tab title="text" icon="ion-ios-book" href="#/page1/page10" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Video" icon="ion-ios-videocam" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="VR" icon="ion-android-hand" href="#/page1/page4" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>